%h1.tableheader Degree Programmes

.progbuttonwrapper
  = link_to "Back", :settings, class: "sameline btn btn-primary btn-lg tablebutton"
  = link_to 'New Programme', new_programme_path, class: 'sameline btn btn-primary btn-lg newbutton ajax-modal'


#page-summary
  = page_entries_info @programmes, model: 'programme'
#page-link1
  = will_paginate @programmes
#programmes-table
  = render 'programmes_table'
%br
#page-link2
  = will_paginate @programmes


