.modal-dialog
    .modal-content
        .modal-header
            %h4.modal-title View Table  
            %button.close{ type: :button, data: { dismiss: :modal } } 
                %span &times;
        .modal-body
            %table#hours-per-theme
                %thead
                    %tr
                        %th Theme
                        %th Number of Contact Hours
                        %th Semester
                    %body
                        - @HoursPerThemeA.each do |hours|
                            %tr
                                %td #{hours[0]}
                                %td #{hours[1]}
                                %td Autumn
                        - @HoursPerThemeS.each do |hours|
                            %tr
                                %td #{hours[0]}
                                %td #{hours[1]}
                                %td Spring
        .modal-footer         
            .pull-left           
                = dismiss_modal_button