- if @users.size != 0
    %table
        %thead
            %tr
                %th Email
                %th Display Name
                %th Role
                %th Analyst?
                %th Super User?
                %th
                %th
                %th

        %tbody
            - @users.each do |user|
                %tr
                    %td= user.email
                    %td= user.display_name
                    %td= User.role_strings[user.role]
                    %td= user.analyst ? 'Yes' : 'No'
                    %td= user.super_user ? 'Yes' : 'No'
                    %td= link_to 'Edit', edit_user_path(user), :class => "ajax-modal btn btn-primary btn-sm tablebutton"
                    %td= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm destroybutton"
                    %td= link_to "Audit Log", audit_user_path(user), :class => "ajax-modal btn btn-primary btn-sm tablebutton"
