
%h1.tableheader Users
.userbuttonwrapper
  = link_to "Back", :settings, class: "sameline btn btn-primary btn-lg tablebutton"
  = link_to 'New User', new_user_path, :class => "sameline btn btn-primary btn-lg newbutton ajax-modal"
%p.tableheader Users are ordered alphabetically by email.

#page-summary
  = page_entries_info @users, model: 'user'
#page-link1
  = will_paginate @users
  
#users-table
  = render 'users_table'

%br
#page-link2
  = will_paginate @users