- content_for :title, "Home"

.jumbotron.mb-3
  %h1.display-5 Dashboard In-progress
  %p.lead The Dashboard is still being worked on. Here are links to the working parts of the site.
  %ul
    %li= link_to 'Activity List (WIP)', activities_path
    %li= link_to 'User List', users_path
    %li= link_to 'Room List', rooms_path
    %li= link_to 'Degree Programme List', programmes_path
    %li= link_to 'Modules List', uni_modules_path
    %li= link_to 'Themes List', themes_path
    %li= link_to 'Learning Objectives List', objectives_path
    %li= link_to 'Dropdowns List', dropdowns_path